.how-wrapper {
  background-color: #24305E;
  padding: 5em 0 4em 0;
  /* color: #fff; */
}

.vertical-timeline-wrapper {
  margin: 8em auto 0 auto;
}

.how-header {
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  padding: 0 2em;
}

.vertical-timeline-element p img {
  max-height: 10em;
}

.vertical-timeline-element img {
  max-height: 10em;
}

.how-bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 1em 0 0 0;
}

.how-bottom-header {
  color: #97CAEF;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 0 0 1.5em 0;
}

.how-bottom-getstarted {
  color: #fff;
  background-color: #3B945E;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  padding: .3em 1em;
  width: 180px;
}