@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

button:focus, input:focus {
  outline: none;
}

.homecontainer-wrapper {
  width: 100vw;
}

.nav-banner-wrapper {
  height: 70vh;
  top: 0;
  left: 0;
}

.homecontainer-bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  background-color: #24305E;
  z-index: -1;
}

.homecontainer-bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 70vh;
  z-index: -1;
  background-color: #D5DBF3;
  clip-path: polygon( 
    40% 0, /* left top */
    100% 0, /* right top */
    100% 100%, /* right bottom */
    0 100%/* left bottom */
  );
}

.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}